button {
    min-width: 16px;
	max-width: 16px;
	min-height: 16px;
	max-height: 16px;
	cursor: pointer;
	border: none;
}
.save {
	background: url('icons/glyphicons-halflings.png') -288px 0px;
}
.reload {
	background: url('icons/glyphicons-halflings.png') -215px -23px;
}
.dictionary {
	background: url('icons/glyphicons-halflings.png') -47px -47px;	
}
.default {
	background: url('icons/glyphicons-halflings.png') -383px 1px;
}