body {
	color: black;
	font-family: arial, sans-serif;
	font-size: 13px;
	margin: 0;
	padding: 0;
	width: 280px;
	text-align: center;
}
.footer {
	margin-top: 10px;
	text-align: center;
}
.translate {
}
.word-type {
}
.word-translate {
}
.word-like {
}