body {
	color: black;
	font-family: arial, sans-serif;
	font-size: 13px;
	margin: 0;
	padding: 0;
	width: 280px;
	text-align: center;
}
.footer {
	margin-top: 10px;
	text-align: center;
}
#lookup-result {
	text-align:  left;
	margin-left: 15px;
	margin-right: 15px;
}
.translate {
	margin-top: 3px;
	margin-bottom: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 6px;
	padding-right: 6px;
	background-color: #EEEEEE;
	font-size: 16px;
}
.words {
	font-size: 11px;
}
.word-type {
	font-weight: bold;
}
.word-mean {
	padding-left: 5px;
}
.word-like {
	padding-left: 5px;
	font-size: 9px;
	color: gray;
}